<style>
    .navbar-default {
        color: #fff;
        background-color: #FFCC33;
        border-color: #e8b533;
        padding-left: 10px;
        padding-right: 10px;
    }
</style>
<nav class="navbar navbar-default" role="navigation">
    <ul class="nav navbar-nav">
        <li><a href="/">Главная</a></li>
        <% if (user) { %>
        <li><a href="/chat">Чат</a></li>
        <% } %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <% if (user) { %>
        <li><a href="" onclick="$('#f').submit();return false">Выйти </a></li>
        <% } else { %>
        <li><a href="/login">Войти </a></li>
        <% } %>
    </ul>
    <form id="f" method=POST action="/logout"></form>
</nav>