<% layout("layout/page")%>
<% block("title", "Chat")%>

<!--<script src = "vendor/bower_components/socket.io-client/socket.io.js"></script> -->
<style>
    A:visited {
        color: #0000FF;
    }
    .btn-default {
        margin-top: 5px;
    }
    .log {
        padding-bottom: 5px;
        display:block;
        z-index: 5;
        overflow: auto;
        height: 400px;
        word-wrap: break-word;

    }
    @media screen and (max-width: 980px) {
        .log {
            height: 350px;
        }
    }
    @media screen and (max-width: 650px)
    {
        .log {
            height: 300px;
        }
    }
    @media screen and (max-width: 500px)
    {
        .log {
            height: 250px;
        }
    }

    .in {
        color: rgb(0, 0, 0);
        vertical-align: top;
    }
    .out {
        color: rgb(31, 181, 24);
        vertical-align: top;
    }
    .priv {
        color: rgb(225, 72, 166);
        vertical-align: top;
    }
    .time {
        color: rgb(144, 144, 144);
        font: 0.8em 'Courier New';
        vertical-align: top;
    }
    .sys {
        color: rgb(165, 42, 42);
        vertical-align: top;
    }
    .user {
        color: rgb(25, 25, 112);
        vertical-align: top;

    }
</style>
<script>
    $(document).ready(function() {
        var c = getCookie();
        var hex = c.bgColor;
        if (hex)
            $("body").css("backgroundColor", hex);
    });
</script>
<script src = "/socket.io/socket.io.js"></script>
<div id="room">
    <div class="form-group">
        <div class="well log" id="log">
        </div>
    </div>
    <form>
        <textarea maxlength="1024"class="form-control" rows="2" autocomplete="off" autofocus placeholder="Сообщение..." id="text"></textarea>
        <button onclick="sendMessage(); input.focus()" type="button" class="btn btn-default id="butSend">Отправить</button>
        <button onclick="clearHistory()" type="button" class="btn btn-default id="butClear">Очистить</button>

    </form>
</div>
<script>
    var socket = io.connect('', {
        reconnect: false,
        transports: [
                'websocket',
                'flashsocket',
                'htmlfile',
                'xhr-polling',
                'jsonp-polling'
            ]

    });

    var strings = {
        'connected': '[sys][time]%time%[/time] Вы успешно соединились к сервером как [user]%name%[/user].[/sys]',
        'userJoined': '[sys][time]%time%[/time] Пользователь [user]%name%[/user] присоединился к чату.[/sys]',
        'messageSent': '[out][time]%time%[/time] [user]%name%[/user]: %text%[/out]',
        'messageSentPrivate': '[priv][time]%time%[/time] [user]%name%[/user] -> [user]%recipient%[/user]: %text%[/priv]',
        'messageReceived': '[in][time]%time%[/time] [user]%name%[/user]: %text%[/in]',
        'messageReceivedPrivate': '[priv][time]%time%[/time] [user]%name%[/user] -> [user]%recipient%[/user]: %text%[/priv]',
        'userSplit': '[sys][time]%time%[/time] Пользователь [user]%name%[/user] покинул чат.[/sys]',
    };

    var form = $("#room form");
    var ul = $("#room ul");
    var input = $("#text");
    var btn = $("#btnSend");

    /*$(document).ready(function ()
    {
        $("a, input").click(function ()
        {
            window.onbeforeunload = null;
        });
        $("form").submit(function ()
        {
            window.onbeforeunload = null;
        });
    });
    $(window).bind('beforeunload', function(event){
       // event.returnValue = "ODFSFJ";
        return "ffffff";
    });*/
        function clearScreen()
    {
        $("#log").html("");
    }
    function clearHistory() {
        localStorage.setItem("messages", "");
        clearScreen();
    }
    function getName() {
        var str = "[" + $(this).html() + "]" + input.val();
        input.val(str);
        input.focus();
    }
    $("#log").delegate(".user", "click", getName);

    function getUsersOnline() {
        var usersOnline = [];
        for (var name in localStorage) {
            if (localStorage[name] == "online" || localStorage[name] == "offline") {
                usersOnline.push(name);
            }
        }
        return usersOnline;
    }

    function setMessage(msg) {
        if (localStorage.getItem("messages") == null)
            localStorage['messages'] = "";
        var text;
        if (msg.event == "onlineUsers") {
            text = msg.text.replace(/\[([a-z]+)\]/g, '<span class="$1">').replace(/\[\/[a-z]+\]/g, '</span>') + '<br>';
        } else if (msg.event == "helpMessage") {
            text = msg.text.replace(/\[([a-z]+)\]/g, '<span class="$1">').replace(/\[\/[a-z]+\]/g, '</span>') + '<br>';
        }
        else {
            text = strings[msg.event].replace(/\[([a-z]+)\]/g, '<span class="$1">')
                    .replace(/\[\/[a-z]+\]/g, '</span>').replace(/\%time\%/, msg.time).replace(/\%name\%/, msg.name).replace(/\%recipient\%/, msg.recipient)
                    .replace(/\%text\%/, unescape(msg.text).replace('<', '&lt;').replace('>', '&gt;')) + '<br>';
            if (msg.url) {
                text += "<canvas id=" + localStorage.getItem("_IMAGE_ID_") + "></canvas>";
            }
        }
        localStorage['messages'] += text;
        printMessage(text);
    }

    function printMessage(text) {
        var regUrlG = /((?:https?:\/\/)?(?:[\da-z\.-]+)\.(?:[a-z\.]{2,6})(?:[\/\w\.-]*)*\/?)/igm;
        var regUrl = /((?:https?:\/\/)?(?:[\da-z\.-]+)\.(?:[a-z\.]{2,6})(?:[\/\w\.-]*)*\/?)/im;
        var regImg = /((?:https?:\/\/)?(?:[\da-z\.-]+)\.(?:[a-z\.]{2,6})(?:[\/\w\.-]*)*\/?(?:jpg|jpeg))/igm;
        var regImgN = /((?:https?:\/\/)?(?:[\da-z\.-]+)\.(?:[a-z\.]{2,6})(?:[\/\w\.-]*)*\/?(?:jpg|jpeg))/im;

        var urlImg = text.match(regImg);
        var imgElems;

        if (urlImg) {
            imgElems = new Array(urlImg.length);
            var id = localStorage.getItem("_IMAGE_ID_");
            if (id == null)
            {
                localStorage.setItem("_IMAGE_ID_", 0);
                id = 0;
            } else
                id = parseInt(id);
            for (var i = 0; i < urlImg.length; i++)
            {
                localStorage.setItem("_IMAGE_URL_" + (id + i).toString(), urlImg[i]);
                text = text.replace(regImgN, "<canvas id='" + "_IMAGE_URL_" + (id + i).toString() + "'></canvas>");
                imgElems[i] = new Image();
            }
            id += urlImg.length;
            localStorage.setItem("_IMAGE_ID_", id);
        }

        text = text.replace(regUrlG, "<a href=$1  rel='nofollow' target='_blank'>" + '$1' + "</a>");

        var span = $("<span>", {html: text}).css("display", "block");
        span.appendTo($("#log"));
        document.querySelector('#log').scrollTop = document.querySelector('#log').scrollHeight;

        var j = parseInt(localStorage.getItem("_IMAGE_ID_"));
        if (urlImg) {
            var c = 0;
            var maxWidth = parseInt($("#log").css("width"))/2;
            var maxHeigth = maxWidth * 2 / 3;

            for (var i = j - urlImg.length; i < j; i++, c++) {
                imgElems[c].src = localStorage.getItem("_IMAGE_URL_" + i);
                imgElems[c].onload = (function () {
                    var _i = i;
                    return function() {
                        var width = this.width;
                        var heigth = this.height;
                        if (width > heigth) {
                            if (width > maxWidth) {
                                heigth *= maxWidth / width;
                                width = maxWidth;
                            }
                        } else {
                            if (heigth > maxHeigth) {
                                width *= maxHeigth / heigth;
                                heigth = maxHeigth;
                            }
                        }
                        var canvas = document.getElementById("_IMAGE_URL_" + _i);
                        $("#_IMAGE_URL_" + _i).wrap(function() {
                            return '<a href="' + localStorage.getItem("_IMAGE_URL_" + _i) + '" target="_blank rel="nofollow"></a>';
                        });
                        canvas.width = width;
                        canvas.height = heigth;
                        var context = canvas.getContext("2d");
                        context.drawImage(this, 0, 0, width, heigth);
                        document.querySelector('#log').scrollTop = document.querySelector('#log').scrollHeight;
                    }
                })();
            }
        }

    }
    function printOnlineUsers() {
        var message = {event: "onlineUsers"};
        var str = '[sys]Пользователи в сети: ';
        var usersOnline = getUsersOnline();
        for (var i = 0; i < usersOnline.length; i++) {
            str += "[user]" + usersOnline[i] + "[/user] ";
        }
        str += "<br>Введите /help для справки";
        str += '[/sys]';
        message.text = str;
        setMessage(message);
    }
    function printHelpMessage() {
        var message = {event: "helpMessage"};
        var str = "[sys]Возможные команды: /color #AAAAA - изменение цвета фона на заданый<br>" +
                "/color - изменение цета фона на случайный<br>" +
                "/online - получение списка пользователей в сети<br>" +
                "[Вася] Hello world! - приватное сообщение" +
                "/game - вакум клинер" +
                "[/sys]";
        message.text = str;
        setMessage(message);
    }
    function changeBg(hex) {
        if (!hex)
        {
            var r = parseInt(Math.random() * 255);
            var g = parseInt(Math.random() * 255);
            var b = parseInt(Math.random() * 255);
            r = r.toString(16);
            g = g.toString(16);
            b = b.toString(16);
            r = (r.length == 1)?("0" + r):r;
            g = (g.length == 1)?("0" + g):g;
            b = (b.length == 1)?("0" + b):b;

            hex = "#" + r + g + b;
        }
        $("body").css("backgroundColor", hex);
        setCookie("bgColor", hex, 366);
    }
    function sendMessage()
    {
        var regSpace =/^\s+$/;
        var regUser = /^\[([a-zа-яё0-9_]{3,20})\]/i;
        var regOnline = /^\/online/;
        var regColors = /^\/color/;
        var regGame = /^\/game/;
        var regHelp = /^\/help/;
        var regHex = /(\#[\da-f]{6})$/i;
        var mes = input.val().toString().trim();

        if (regHelp.test(mes) === true) {
            input.val("");
            printHelpMessage();
            return false;
        }

        if (regGame.test(mes) === true) {
            input.val("");
            location = "/game";
            return false;
        }

        if (regOnline.test(mes) === true)
        {
            input.val("");
            printOnlineUsers();
            return false;
        }
        if (regColors.test(mes) === true) {
            var hex = null;
            hex = mes.match(regHex);
            if (hex) {
                changeBg(hex[1]);
            } else
                changeBg(null);
            input.val("");

            return false;
        }
        var users = regUser.exec(mes);
        var user = null;
        if (users)
        {
            user = users[1];
            mes = mes.replace(regUser, "");
        }
        if (mes.length == 0)
        {
            input.val("");
            return false;
        }
        var text = escape(mes);
        input.val("");
        socket.emit("message", text, user);
        return false;
    }
    function sendEnter(event) {
        if (event.which == '13' && !event.shiftKey) {
            event.preventDefault();
            sendMessage();
        }
    }
    function checkMaxSize(event) {
    }
    $(window).bind("storage", function(e) {
        //alert(e.key);
    });

    function checkUserSplit(msg) {
        if (localStorage.getItem(msg.name) != "online")
        {
            var count = parseInt(localStorage.getItem(msg.name + "Count"));
            count--;
            if (count == 0) {
                localStorage.removeItem(msg.name);
                localStorage.removeItem(msg.name + "Count");
                setMessage(msg);
            } else {
                localStorage.setItem(msg.name + "Count", count);
            }
        }
    }

    socket.on("message", function(msg) {
                if (msg.event == "connected")
                {
                    if (localStorage['saidLogin'] == "false")
                    {
                        socket.emit("firstConnect");
                        setTimeout(printOnlineUsers, 3000);

                        localStorage.clear();
                        localStorage['saidLogin'] = "true";
                        localStorage.setItem("__MY_NAME__", msg.name);
                        setMessage(msg);
                    }
                }
                else if (msg.event == "queryName") {
                    socket.emit("answerName", localStorage.getItem("__MY_NAME__"), msg.sockId);
                }
                else if (msg.event == "onlineUser") {
                    localStorage.setItem(msg.name, "online");
                    localStorage.setItem(msg.name + "Count", "1");
                }
                else if (msg.event == "userJoined")
                {
                    if (localStorage.getItem("__MY_NAME__") == msg.name)
                    {

                    } else if (localStorage.getItem(msg.name) == null)
                    {
                        localStorage.setItem(msg.name, "online");
                        localStorage.setItem(msg.name + "Count", "1")
                        setMessage(msg);
                    }
                    else {
                        localStorage.setItem(msg.name, "online");
                        var count = parseInt(localStorage.getItem(msg.name + "Count"));
                        count++;
                        localStorage.setItem(msg.name + "Count", count);
                    }
                } else if (msg.event == "userSplit")
                {
                    if (localStorage.getItem("__MY_NAME__") == msg.name)
                    {

                    } else
                    {
                        localStorage.setItem(msg.name, "offline");
                        setTimeout(function() {checkUserSplit(msg);}, 4000);
                    }
                }
                else if (msg.recipient)
                {
                    if ((msg.recipient == localStorage.getItem("__MY_NAME__")) || msg.name == localStorage.getItem("__MY_NAME__"))
                    {
                        setMessage(msg);
                    }
                } else
                    setMessage(msg);
            })
            .on("connect", function() {
                console.log("connect");
                input.bind("keypress", function(event) {sendEnter(event)});
                //input.bind('input propertychange', function(event) {checkMaxSize(event)});
                form.on("submit", sendMessage);
                btn.prop("disabled", false);
                printMessage(localStorage['messages']);
            })
            .on("disconnect", function() {
                console.log("disconnect");
                input.unbind("keypress", function(event) {sendEnter(event)});
                form.off("submit", sendMessage);
                btn.prop("disabled", true);
                setTimeout(reconnect, 500);
            })
            .on("logout", function() {
                location.href = "/";
            });
    function reconnect() {
        socket.once("error", function() {
            setTimeout(reconnect, 500);
        });
        socket.socket.connect();
    }

</script>