<% layout("layout/page")%>
<% block("title", "Chat CSF")%>
<script>
    $(document).ready(function() {
        var c = getCookie();
        var hex = c.bgColor;
        if (hex)
            $("body").css("backgroundColor", hex);
    });
</script>
<script src = "/socket.io/socket.io.js"></script>
<script>
    var strings = {
        'connected': '[sys][time]%time%[/time]: Вы успешно соединились к сервером как [user]%name%[/user].[/sys]',
        'userJoined': '[sys][time]%time%[/time]: Пользователь [user]%name%[/user] присоединился к чату.[/sys]',
        'messageSent': '[out][time]%time%[/time]: [user]%name%[/user]: %text%[/out]',
        'messageReceived': '[in][time]%time%[/time]: [user]%name%[/user]: %text%[/in]',
        'userSplit': '[sys][time]%time%[/time]: Пользователь [user]%name%[/user] покинул чат.[/sys]'
    };
    var socket = io.connect('', {
        reconnect: false,
        transports: [
            'websocket',
            'flashsocket',
            'htmlfile',
            'xhr-polling',
            'jsonp-polling'
        ]

    });
    function setMessageLoc (msg)
    {
        var text = strings[msg.event].replace(/\[([a-z]+)\]/g, '<span class="$1">')
                        .replace(/\[\/[a-z]+\]/g, '</span>').replace(/\%time\%/, msg.time).replace(/\%name\%/, msg.name)
                        .replace(/\%text\%/, unescape(msg.text).replace('<', '&lt;').replace('>', '&gt;')) + '<br>';
        $("<span>", {html: text}).appendTo($("#log"));
        localStorage['messages'] += text;
    }
    function checkUserSplit(msg) {
        if (localStorage.getItem(msg.name) != "online")
        {
            var count = parseInt(localStorage.getItem(msg.name + "Count"));
            count--;
            if (count == 0) {
                localStorage.removeItem(msg.name);
                localStorage.removeItem(msg.name + "Count");
                setMessageLoc(msg);
            } else {
                localStorage.setItem(msg.name + "Count", count);
            }
        }
    }
    socket.on("message", function(msg) {
        if (msg.event == "connected")
        {
            if (localStorage['saidLogin'] == "true")
            {
                return;
            }
        } else if (msg.event == "userJoined")
        {
            if (localStorage.getItem("__MY_NAME__") == msg.name)
            {

            } else if (localStorage.getItem(msg.name) == null)
            {
                localStorage.setItem(msg.name, "online");
                localStorage.setItem(msg.name + "Count", "1")
                setMessageLoc(msg);
            }
            else {
                localStorage.setItem(msg.name, "online");
                var count = parseInt(localStorage.getItem(msg.name + "Count"));
                count++;
                localStorage.setItem(msg.name + "Count", count);
            }
        } else if (msg.event == "userSplit")
        {
            if (localStorage.getItem("__MY_NAME__") == msg.name)
            {

            } else
            {
                localStorage.setItem(msg.name, "offline");
                setTimeout(function() {checkUserSplit(msg);}, 6000);
            }
        } else setMessageLoc(msg);

    })
</script>